# Lesson 2

### What are Strings?

In [1]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [2]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [3]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [4]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [5]:
# Print the string

print("hello!")

hello!

In [6]:
# Assign string to variable

Name = "Michael Jackson"
Name

'Michael Jackson'

### Indexing

In [7]:
# Print the first element in the string

print(Name[0])

M

In [8]:
# Print the element on index 6 in the string

print(Name[6])

l

In [9]:
# Print the element on the 13th index in the string

print(Name[13])

o

### Negative Indexing

In [10]:
# Print the last element in the string

print(Name[-1])

n

In [11]:
# Print the first element in the string

print(Name[-15])

M

In [12]:
# Find the length of string

len("Michael Jackson")

15

### Slicing

In [13]:
# Take the slice on variable Name with only index 0 to index 3

Name[0:4]

'Mich'

In [14]:
# Take the slice on variable Name with only index 8 to index 11

Name[8:12]

'Jack'

### Stride

In [15]:
# Get every second element. The elments on index 1, 3, 5 ...

Name[::2]

'McalJcsn'

In [16]:
# Get every second element in the range from index 0 to index 4

Name[0:5:2]

'Mca'

### Concatenate Strings

In [17]:
# Concatenate two strings

Statement = Name + "is the best"
Statement

'Michael Jacksonis the best'

In [18]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [19]:
# Concatenate strings

Name = "Michael Jackson"
Name = Name + " is the best"
Name

'Michael Jackson is the best'

### Escape Sequences

In [20]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [21]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [22]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [23]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

### String Operations

In [24]:
# Convert all the characters in string to upper case

A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [25]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

'Janet Jackson is the best'

In [26]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

Name = "Michael Jackson"
Name.find('el')

5

In [27]:
# Find the substring in the string.

Name.find('Jack')

8

In [28]:
# If cannot find the substring in the string

Name.find('Jasdfasdasdf')

-1

### Quiz on Strings

In [31]:
# Write your code below and press Shift+Enter to execute 

A = "1"
A

'1'

In [32]:
# Write your code below and press Shift+Enter to execute

B = "2"
B

'2'

In [33]:
# Write your code below and press Shift+Enter to execute 

C = A + B
C

'12'

In [36]:
# Write your code below and press Shift+Enter to execute

D = "ABCDEFG"
print(D[0:3])
print(D[:3])

ABC
ABC

In [37]:
# Write your code below and press Shift+Enter to execute

E = 'clocrkr1e1c1t'
print(E[::2])

correct

In [39]:
# Write your code below and press Shift+Enter to execute

print("\\")
print(r" \ ")

\
 \

In [40]:
# Write your code below and press Shift+Enter to execute

F = "You are wrong"
print(F.upper())

YOU ARE WRONG

In [42]:
# Write your code below and press Shift+Enter to execute

G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
G.find('snow')

95

In [43]:
# Write your code below and press Shift+Enter to execute

G.replace('Mary','Bob')

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

### Tuples

In [44]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [45]:
# Print the type of the tuple you created

type(tuple1)

tuple

### Indexing

In [46]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [47]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [48]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [49]:
# Use negative index to get the value of the second last element

tuple1[-2]

10

In [50]:
# Use negative index to get the value of the third last element

tuple1[-3]

'disco'

### Concatenate Tuples

In [51]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

### Slicing

In [52]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [53]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

In [54]:
# Get the length of tuple

len(tuple2)

5

### Sorting

In [55]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [56]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

### Nested Tuple

In [57]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [58]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [59]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [60]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [61]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

2

In [62]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

1

In [63]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

2

### Quiz on Tuples

In [64]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [65]:
# Write your code below and press Shift+Enter to execute

len(genres_tuple)

8

In [67]:
# Write your code below and press Shift+Enter to execute

genres_tuple[3]

'hard rock'

In [68]:
# Write your code below and press Shift+Enter to execute

genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [69]:
# Write your code below and press Shift+Enter to execute

genres_tuple[0:2]

('pop', 'rock')

In [71]:
# Write your code below and press Shift+Enter to execute

genres_tuple.index('disco')

7

In [72]:
# Write your code below and press Shift+Enter to execute

C_tuple=(-5, 1, -3)
C_list=sorted(C_tuple)
C_list

[-5, -3, 1]

### Lists

### Indexing

In [73]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [75]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

### List Content

In [76]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2]]

['Michael Jackson', 10.1, 1982, [1, 2]]

### List Operations

In [77]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [78]:
# List slicing

L[3:5]

['MJ', 1]

In [79]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [80]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [81]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [82]:
# Use append to add elements to list

L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [83]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [84]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [85]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [86]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

### Copy and Clone List

In [87]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [88]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [89]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [90]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

### Quiz on List

In [91]:
# Write your code below and press Shift+Enter to execute

a_list=[1,'hello',[1,2,3],True]
print(a_list)

[1, 'hello', [1, 2, 3], True]

In [92]:
# Write your code below and press Shift+Enter to execute

a_list[1]

'hello'

In [93]:
# Write your code below and press Shift+Enter to execute

a_list[1:4]

['hello', [1, 2, 3], True]

In [94]:
# Write your code below and press Shift+Enter to execute

A=[1,'a']
B=[2,1,'d']
A+B

[1, 'a', 2, 1, 'd']

### Dictionaries

### What are Dictionaries?

In [95]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [96]:
# Access to the value by the key

Dict["key1"]

1

In [97]:
# Access to the value by the key

Dict[(0, 1)]

6

In [98]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

### Keys

In [99]:
# Get value by keys

release_year_dict['Thriller']

'1982'

In [100]:
# Get value by key

release_year_dict['The Bodyguard']

'1992'

In [101]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [102]:
# Get all the values in dictionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [103]:
# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [104]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [105]:
# Verify the key is in the dictionary

'The Bodyguard' in release_year_dict

True

### Quiz on Dictionaries

In [106]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [107]:
# Write your code below and press Shift+Enter to execute

soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [108]:
# Write your code below and press Shift+Enter to execute

soundtrack_dic.values()

dict_values(['1992', '1977'])

In [109]:
# Write your code below and press Shift+Enter to execute

album_sales_dict={'Back in Black':50,'The Bodyguard':50,'Thriller':65}
album_sales_dict

{'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}

In [110]:
# Write your code below and press Shift+Enter to execute

album_sales_dict['Thriller']

65

In [111]:
# Write your code below and press Shift+Enter to execute

album_sales_dict.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

In [112]:
# Write your code below and press Shift+Enter to execute

album_sales_dict.values()

dict_values([50, 50, 65])

### Sets

### Set Content

In [113]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [114]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [115]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

### Set Operations

In [116]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [117]:
# Add element to set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [118]:
# Try to add duplicate element to the set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [119]:
# Remove the element from set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [120]:
# Verify if the element is in the set

"AC/DC" in A

True

### Sets Logic Operations

In [121]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [122]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [123]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [124]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [125]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [126]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [127]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [128]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [129]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [130]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [131]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

### Quiz on Sets

In [132]:
# Write your code below and press Shift+Enter to execute

set(['rap','house','electronic music', 'rap'])

{'electronic music', 'house', 'rap'}

In [133]:
# Write your code below and press Shift+Enter to execute

A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3

In [134]:
# Write your code below and press Shift+Enter to execute

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3=album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [135]:
# Write your code below and press Shift+Enter to execute

album_set1.issubset(album_set3)

True